body{
    background-image: linear-gradient(90deg, #0b3f67, #0c94ef);
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: white;
}

.side-bar {
    display: grid;
    justify-content: center;
    grid-gap: 50px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:  0 10px 25px rgba(35, 7, 217, 0.25);
    padding: 20px 10px;
    width: 20%;
    border-radius: 15px;
}

.links {
    display: flex;
    justify-content: start;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 8px 10px;
}
.links:hover{
    background: rgba(16, 27, 245, 0.2);
    outline: none;
}
.bg{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 80%;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:  0 10px 25px rgba(35, 7, 217, 0.25); 
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 30px;
}
.both-bar{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 30px;
}

.client{
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:  0 10px 25px rgba(35, 7, 217, 0.25); 
    width: 300px;
    height: 150px;
    border-radius: 13px;
    text-align: center;
    color: #fff;
}
.client:hover{
    border-color: #4f9cff; 
    box-shadow: 0 0 0 3px rgba(79, 156, 255, 0.2);
    outline: none;

}

.logout-btn {
    
}