.login_page{
    font-family: sans-serif;
    background: linear-gradient(135deg, #0a2a43, #0f4c75);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_countainer{
    width: 380px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow:  0 10px 25px rgba(35, 7, 217, 0.25);
}
#login{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.3);
    font-family: cursive;
    margin: -10px;
}

.countainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin: 50px;
  gap: 10px;
}

input{
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    color: #fff;
}
label{
    position: relative;
    top: 15px;
    color: white;
    font-family: cursive;
    font-size: large;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
h5{
    font-family: cursive;
}




